.flag__image__animation {
  transform: scale(1);
  animation: pulse-black 2s infinite;
}

@keyframes flag__image__animation {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 #071a52;
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px #071a52;
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 #071a52;
  }
}
