@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

$font-family: "Roboto", sans-serif;

$color-base: #071a52;
$color-primary-lime: #20e395;
$color-secondary-green: #17b978;
$color-tertiary-red: #f62a00;
$color-white: #ffffff;
$color-black: #343434;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-family;
  letter-spacing: 0.75px;
  max-width: 100%;
  max-height: 100%;
}

a:link,
a:visited {
  text-decoration: none;
}
