body {
  background: rgb(2, 0, 36);
}

// introduction page - this will hide when clicked

.intro__container {
  // display: none;

  .intro__header {
    color: $color-white;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
    font-size: 96px;
    font-weight: bold;
  }

  .intro__subheading {
    color: $color-white;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
  }

  .intro__inputcontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $color-secondary-green;
    border: solid $color-white 10px;
    border-radius: 10px;
    padding: 20px 20px;
    width: 30%;
    margin: 100px auto;

    .intro__nameinput {
      font-size: 40px;
      text-align: center;
      border: solid $color-white 10px;
      border-radius: 10px;
    }

    .intro__button {
      background-color: $color-tertiary-red;
      text-align: center;
      font-size: 56px;
      font-weight: bold;
      padding: 20px 80px;
      margin: 20px;
      border: solid $color-white 10px;
      border-radius: 10px;
      cursor: pointer;
    }
  }
}

// instructions page, again will hide when clicked

.instructions__container {
  display: none;

  .instructions__content {
    color: $color-white;
    background-color: $color-secondary-green;
    border: solid $color-white 10px;
    border-radius: 10px;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 100px auto;
    cursor: pointer;

    .instructions__header {
      text-align: center;
      padding-top: 100px;
      padding-bottom: 60px;
      font-size: 60px;
      font-weight: bold;
    }

    .instructions__text {
      text-align: center;
      font-size: 35px;
      font-weight: bold;
      padding: 50px;
    }
  }
}

// flag page, this will show for X amount of seconds and then needs to flip

.flag__container {
  display: none;
  background-color: $color-secondary-green;
  border: solid $color-white 10px;
  width: 90%;
  // display: flex;
  flex-direction: column;
  justify-content: center;
  // align-items: center;
  margin: 20px auto;
  border-radius: 10px;

  .score__container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10px 10px;

    .flag__instructions,
    .flag__flagtotal {
      background-color: $color-white;
      border: solid $color-base 10px;
      border-radius: 10px;
      width: 25%;
      text-align: center;
      padding-top: 20px;
      font-size: 25px;
      font-weight: bold;
    }

    .flag__score,
    .flag__timer {
      background-color: $color-tertiary-red;
      border: solid 10px $color-white;
      color: $color-white;
      height: 150px;
      width: 150px;
      border-radius: 50%;
      text-align: center;
      font-size: 100px;
      padding: 10px 10px;
    }

    .flag__score {
      background-color: $color-base;
    }
  }

  .flag__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 1vw;
    grid-template-areas:
      "ireland italy colombia netherlands united-kingdom norway"
      "croatia puerto-rico ireland2 mauritius puerto-rico2 paraguay"
      "netherlands2 norway2 united-kingdom2 italy2 mauritius2 hungary"
      "paraguay2 hungary2 mexico colombia2 croatia2 mexico2";

    .flag,
    .flag__pair {
      height: 150px;
      width: 250px;
      background-size: 100%;
      border-radius: 10px;
      border: solid $color-base 10px;
      cursor: pointer;

      .flag__image {
        object-fit: cover;
        height: 100%;
        width: 100%;
      }
    }

    #ireland {
      grid-area: ireland;
      background-image: url(./flag_images/179-ireland.png);
    }

    #ireland2 {
      grid-area: ireland2;
      background-image: url(./flag_images/179-ireland.png);
    }

    #italy {
      grid-area: italy;
      background-image: url(./flag_images/013-italy.png);
    }

    #italy2 {
      grid-area: italy2;
      background-image: url(./flag_images/013-italy.png);
    }

    #colombia {
      grid-area: colombia;
      background-image: url(./flag_images/177-colombia.png);
    }

    #colombia2 {
      grid-area: colombia2;
      background-image: url(./flag_images/013-italy.png);
    }

    #netherlands {
      grid-area: netherlands;
      background-image: url(./flag_images/237-netherlands.png);
    }

    #netherlands2 {
      grid-area: netherlands2;
      background-image: url(./flag_images/237-netherlands.png);
    }

    #norway {
      grid-area: norway;
      background-image: url(./flag_images/143-norway.png);
    }

    #norway2 {
      grid-area: norway2;
      background-image: url(./flag_images/143-norway.png);
    }

    #united-kingdom {
      grid-area: united-kingdom;
      background-image: url(./flag_images/260-united-kingdom.png);
    }

    #united-kingdom2 {
      grid-area: united-kingdom2;
      background-image: url(./flag_images/260-united-kingdom.png);
    }

    #croatia {
      grid-area: croatia;
      background-image: url(./flag_images/164-croatia.png);
    }

    #croatia2 {
      grid-area: croatia2;
      background-image: url(./flag_images/164-croatia.png);
    }

    #mexico {
      grid-area: mexico;
      background-image: url(./flag_images/252-mexico.png);
    }

    #mexico2 {
      grid-area: mexico2;
      background-image: url(./flag_images/252-mexico.png);
    }

    #mauritius {
      grid-area: mauritius;
      background-image: url(./flag_images/001-mauritius.png);
    }

    #mauritius2 {
      grid-area: mauritius2;
      background-image: url(./flag_images/001-mauritius.png);
    }

    #puerto-rico {
      grid-area: puerto-rico;
      background-image: url(./flag_images/028-puerto-rico.png);
    }

    #puerto-rico2 {
      grid-area: puerto-rico2;
      background-image: url(./flag_images/028-puerto-rico.png);
    }

    #paraguay {
      grid-area: paraguay;
      background-image: url(./flag_images/041-paraguay.png);
    }

    #paraguay2 {
      grid-area: paraguay2;
      background-image: url(./flag_images/041-paraguay.png);
    }

    #hungary {
      grid-area: hungary;
      background-image: url(./flag_images/115-hungary.png);
    }

    #hungary2 {
      grid-area: hungary2;
      background-image: url(./flag_images/115-hungary.png);
    }
  }
}

.gameover__container {
  // display: none;

  .gameover__content {
    color: $color-white;
    background-color: $color-secondary-green;
    border: solid $color-white 10px;
    border-radius: 10px;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 100px auto;
    cursor: pointer;
  }

  .gameover__header {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 60px;
    font-size: 60px;
    font-weight: bold;
  }

  .gameover__text {
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    padding: 50px;
  }

  .gameover__button {
    background-color: $color-tertiary-red;
    text-align: center;
    font-size: 56px;
    font-weight: bold;
    padding: 20px 80px;
    margin: 20px;
    border: solid $color-white 10px;
    border-radius: 10px;
    cursor: pointer;
  }
}
