body {
  background: rgb(2, 0, 36);
}

// introduction page - this will hide when clicked

.intro__container {
  // display: none;

  .intro__header {
    color: $color-white;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
    font-size: 96px;
    font-weight: bold;
  }

  .intro__subheading {
    color: $color-white;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
  }

  .intro__inputcontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $color-secondary-green;
    border: solid $color-white 10px;
    border-radius: 10px;
    padding: 20px 20px;
    width: 30%;
    margin: 100px auto;

    .intro__nameinput {
      font-size: 40px;
      text-align: center;
      border: solid $color-white 10px;
      border-radius: 10px;
    }

    .intro__button {
      background-color: $color-tertiary-red;
      color: $color-white;
      text-align: center;
      font-size: 56px;
      font-weight: bold;
      padding: 20px 80px;
      margin: 20px;
      border: solid $color-white 10px;
      border-radius: 10px;
      cursor: pointer;
    }
  }
}

// instructions page, again will hide when clicked

.instructions__container {
  display: none;

  .instructions__content {
    color: $color-white;
    background-color: $color-secondary-green;
    border: solid $color-white 10px;
    border-radius: 10px;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 100px auto;
    cursor: pointer;

    .instructions__header {
      text-align: center;
      padding-top: 100px;
      padding-bottom: 60px;
      font-size: 60px;
      font-weight: bold;
    }

    .instructions__text {
      text-align: center;
      font-size: 35px;
      font-weight: bold;
      padding: 50px;
    }
  }
}

// flag page, this will show for X amount of seconds and then needs to flip

.flag__container {
  display: none;
  background-color: $color-secondary-green;
  border: solid $color-white 10px;
  width: 90%;
  // display: flex;
  flex-direction: column;
  justify-content: center;
  // align-items: center;
  margin: 20px auto;
  border-radius: 10px;
  position: relative;

  .score__container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10px 10px;

    .flag__instructions,
    .flag__flagtotal {
      background-color: $color-white;
      border: solid $color-base 10px;
      border-radius: 10px;
      width: 25%;
      text-align: center;
      padding-top: 20px;
      font-size: 25px;
      font-weight: bold;
    }

    .flag__instructions__arrow {
      font-size: 100px;
    }

    .flag__score,
    .flag__timer,
    .flag__gobutton {
      background-color: $color-tertiary-red;
      border: solid 10px $color-white;
      color: $color-white;
      height: 150px;
      width: 150px;
      border-radius: 50%;
      text-align: center;
      font-size: 100px;
      padding: 10px 10px;
    }

    .flag__score {
      background-color: $color-base;
    }

    .flag__gobutton {
      background-color: $color-primary-lime;
      color: $color-white;
      font-size: 70px;
      font-weight: bolder;
    }
  }
}

// .match__message {
//   background-color: $color-primary-lime;
//   opacity: 90%;
//   position: absolute;
//   z-index: 2;
//   display: flex;
//   align-items: center;
//   flex-direction: column;
//   color: $color-base;
//   width: 100%;
//   text-align: center;

//   .match__country__header {
//     font-size: 60px;
//   }

//   .match__image {
//     padding-top: 50px;
//     padding-bottom: 50px;
//   }

//   .match__header {
//     font-size: 35px;
//   }

//   .match__subheader {
//     font-size: 35px;
//   }

//   .match__fact {
//     font-size: 35px;
//     padding-bottom: 50px;
//   }
// }

// .gameover__message {
//   opacity: 93%;
//   background-color: $color-primary-lime;
//   position: absolute;
//   z-index: 2;
//   display: flex;
//   align-items: center;
//   flex-direction: column;
//   color: $color-base;
//   width: 80%;
//   text-align: center;
//   margin: 100px auto;
//   color: $color-white;

//   .gameover__header {
//     text-align: center;
//     padding-top: 100px;
//     padding-bottom: 20px;
//     font-size: 60px;
//     font-weight: bold;
//   }

//   .gameover__subheader {
//     text-align: center;
//     font-size: 50px;
//     font-weight: bold;
//     padding-bottom: 10px;
//   }

//   .gameover__button {
//     background-color: $color-tertiary-red;
//     color: $color-white;
//     text-align: center;
//     font-size: 35px;
//     font-weight: bold;
//     padding: 20px 80px;
//     margin: 20px;
//     border: solid $color-white 10px;
//     border-radius: 10px;
//     cursor: pointer;
//   }
// }

// .winning__message {
//   opacity: 88%;
//   background-color: $color-primary-lime;
//   position: absolute;
//   z-index: 2;
//   display: flex;
//   align-items: center;
//   flex-direction: column;
//   color: $color-base;
//   width: 80%;
//   text-align: center;

//   .winning__header {
//     font-size: 60px;
//   }

//   .winning__subheader {
//     font-size: 35px;
//   }

//   .winning__text {
//     font-size: 35px;
//   }
// }
