body {
  background: rgb(2, 0, 36);
}

// introduction page - this will hide when clicked

.intro__container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .intro__header {
    color: $color-white;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 96px;
    font-weight: bold;
  }

  .intro__subheading {
    color: $color-white;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
  }

  .intro__inputcontainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $color-secondary-green;
    border: solid $color-white 10px;
    border-radius: 10px;
    padding: 20px 20px;
    width: 30%;
    margin: 40px auto;

    .intro__nameinput {
      font-size: 40px;
      text-align: center;
      border: solid $color-white 10px;
      border-radius: 10px;
    }

    .intro__button {
      background-color: $color-tertiary-red;
      color: $color-white;
      text-align: center;
      font-size: 56px;
      font-weight: bold;
      padding: 20px 80px;
      margin: 20px;
      border: solid $color-white 10px;
      border-radius: 10px;
      cursor: pointer;
    }
  }

  .intro__signature {
    color: $color-white;
    text-align: center;
    padding-top: 200px;
  }

  .intro__icon {
    text-align: center;
    font-size: 10px;

    .intro__email {
      color: $color-white;
    }

    .intro__email:active {
      color: $color-white;
    } /* Selected link   */

    .intro__email:visited {
      color: $color-white;
    } /* Mouse over link */

    .intro__email:hover {
      color: $color-white;
    } /* Mouse over link */
  }
}

// instructions page, again will hide when clicked

.instructions__container {
  display: none;

  .instructions__content {
    color: $color-white;
    background-color: $color-secondary-green;
    border: solid $color-white 10px;
    border-radius: 10px;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 50px auto;
    cursor: pointer;

    .instructions__header {
      text-align: center;
      padding-top: 50px;
      padding-bottom: 60px;
      font-size: 60px;
      font-weight: bold;
    }

    .instructions__text {
      text-align: center;
      font-size: 35px;
      font-weight: bold;
      padding: 50px;
    }

    .instructions__outro {
      text-align: center;
      padding-top: 50px;
      padding-bottom: 60px;
      font-size: 60px;
      font-weight: bold;
    }
  }
}

// flag page, this will show for X amount of seconds and then needs to flip

.flag__container {
  display: none;
  background-color: $color-secondary-green;
  border: solid $color-white 10px;
  width: 90%;
  flex-direction: column;
  justify-content: center;
  margin: 20px auto;
  border-radius: 10px;
  position: relative;

  .score__container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10px 10px;

    .flag__instructions,
    .flag__flagtotal {
      color: $color-base;
      background-color: $color-white;
      border: solid $color-base 10px;
      border-radius: 10px;
      width: 25%;
      text-align: center;
      padding-top: 20px;
      font-size: 25px;
      font-weight: bold;
    }

    .flag__instructions__arrow {
      font-size: 100px;
      color: $color-base;
    }

    .flag__score,
    .flag__timer,
    .flag__gobutton {
      background-color: $color-tertiary-red;
      border: solid 10px $color-white;
      color: $color-white;
      height: 150px;
      width: 150px;
      border-radius: 50%;
      text-align: center;
      font-size: 100px;
      padding: 10px 10px;
    }

    .flag__score {
      background-color: $color-base;
    }

    .flag__gobutton {
      background-color: $color-primary-lime;
      color: $color-white;
      font-size: 70px;
      font-weight: bolder;
    }

    .flag__gobutton:hover {
      background-color: $color-secondary-green;
      cursor: pointer;
    }
  }
}
