@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.75px;
  max-width: 100vw;
  max-height: 100vh;
}

a:link,
a:visited {
  text-decoration: none;
}

body {
  background: #020024;
}

.intro__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro__container .intro__header {
  color: #ffffff;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: 96px;
  font-weight: bold;
}

.intro__container .intro__subheading {
  color: #ffffff;
  font-size: 48px;
  font-weight: bold;
  text-align: center;
}

.intro__container .intro__inputcontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #17b978;
  border: solid #ffffff 10px;
  border-radius: 10px;
  padding: 20px 20px;
  width: 30%;
  margin: 40px auto;
}

.intro__container .intro__inputcontainer .intro__nameinput {
  font-size: 40px;
  text-align: center;
  border: solid #ffffff 10px;
  border-radius: 10px;
}

.intro__container .intro__inputcontainer .intro__button {
  background-color: #f62a00;
  color: #ffffff;
  text-align: center;
  font-size: 56px;
  font-weight: bold;
  padding: 20px 80px;
  margin: 20px;
  border: solid #ffffff 10px;
  border-radius: 10px;
  cursor: pointer;
}

.intro__container .intro__signature {
  color: #ffffff;
  text-align: center;
  padding-top: 200px;
}

.intro__container .intro__icon {
  text-align: center;
  font-size: 10px;
  /* Selected link   */
  /* Mouse over link */
  /* Mouse over link */
}

.intro__container .intro__icon .intro__email {
  color: #ffffff;
}

.intro__container .intro__icon .intro__email:active {
  color: #ffffff;
}

.intro__container .intro__icon .intro__email:visited {
  color: #ffffff;
}

.intro__container .intro__icon .intro__email:hover {
  color: #ffffff;
}

.instructions__container {
  display: none;
}

.instructions__container .instructions__content {
  color: #ffffff;
  background-color: #17b978;
  border: solid #ffffff 10px;
  border-radius: 10px;
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 50px auto;
  cursor: pointer;
}

.instructions__container .instructions__content .instructions__header {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 60px;
  font-size: 60px;
  font-weight: bold;
}

.instructions__container .instructions__content .instructions__text {
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  padding: 50px;
}

.instructions__container .instructions__content .instructions__outro {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 60px;
  font-size: 60px;
  font-weight: bold;
}

.flag__container {
  display: none;
  background-color: #17b978;
  border: solid #ffffff 10px;
  width: 90%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px auto;
  border-radius: 10px;
  position: relative;
}

.flag__container .score__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 10px 10px;
}

.flag__container .score__container .flag__instructions,
.flag__container .score__container .flag__flagtotal {
  color: #071a52;
  background-color: #ffffff;
  border: solid #071a52 10px;
  border-radius: 10px;
  width: 25%;
  text-align: center;
  padding-top: 20px;
  font-size: 25px;
  font-weight: bold;
}

.flag__container .score__container .flag__instructions__arrow {
  font-size: 100px;
  color: #071a52;
}

.flag__container .score__container .flag__score,
.flag__container .score__container .flag__timer,
.flag__container .score__container .flag__gobutton {
  background-color: #f62a00;
  border: solid 10px #ffffff;
  color: #ffffff;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  text-align: center;
  font-size: 100px;
  padding: 10px 10px;
}

.flag__container .score__container .flag__score {
  background-color: #071a52;
}

.flag__container .score__container .flag__gobutton {
  background-color: #20e395;
  color: #ffffff;
  font-size: 70px;
  font-weight: bolder;
}

@media screen and (max-width: 800px) {
  * {
    max-width: 100vw;
  }
  .intro__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .intro__container .intro__header {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 50px;
    font-size: 25px;
  }
  .intro__container .intro__subheading {
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
  }
  .intro__container .intro__inputcontainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: solid #ffffff 5px;
    border-radius: 10px;
    padding: 10px;
    width: 40%;
    margin: 40px auto;
  }
  .intro__container .intro__inputcontainer .intro__nameinput {
    font-size: 10px;
    border: solid #ffffff 2px;
    border-radius: 10px;
  }
  .intro__container .intro__inputcontainer .intro__button {
    font-size: 10px;
    font-weight: bold;
    border: solid #ffffff 2px;
    border-radius: 10px;
    padding: 10px;
  }
  .intro__container .intro__signature {
    color: #ffffff;
    font-size: 10px;
    text-align: center;
    padding-top: 5px;
  }
  .intro__container .intro__icon {
    color: #ffffff;
    padding-top: 10px;
    font-size: 5px;
    text-align: center;
    /* Mouse over link */
  }
  .intro__container .intro__icon .intro__email:hover {
    color: #17b978;
  }
  .instructions__container .instructions__content {
    border: solid #ffffff 2px;
    margin: 10px auto;
    padding-bottom: 70px;
  }
  .instructions__container .instructions__content .instructions__header {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 60px;
    font-size: 20px;
    font-weight: bold;
  }
  .instructions__container .instructions__content .instructions__text {
    text-align: center;
    font-size: 10px;
    font-weight: bold;
    padding: 20px;
  }
  .instructions__container .instructions__content .instructions__outro {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 60px;
    font-size: 20px;
    font-weight: bold;
  }
  .flag__container {
    border: solid #ffffff 5px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 20px auto;
    border-radius: 10px;
    position: relative;
    height: 100vh;
  }
  .flag__container .flag__grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 1vw;
        grid-template-areas: "ireland italy colombia" "netherlands united-kingdom norway" "croatia puerto-rico ireland2" "mauritius puerto-rico2 paraguay" "netherlands2 norway2 united-kingdom2" "italy2 mauritius2 hungary" "paraguay2 hungary2 mexico" "colombia2 croatia2 mexico2";
  }
  .flag__container .flag__grid .flag,
  .flag__container .flag__grid .flag__pair {
    height: auto;
    width: 100px;
    border: solid #071a52 2px;
  }
  .flag__container .flag__grid .flag__image {
    max-height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .flag__container .flag__grid #ireland {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: ireland;
    background-image: url(./flag_images/179-ireland.png);
  }
  .flag__container .flag__grid #ireland2 {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
    grid-area: ireland2;
    background-image: url(./flag_images/179-ireland.png);
  }
  .flag__container .flag__grid #italy {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: italy;
    background-image: url(./flag_images/013-italy.png);
  }
  .flag__container .flag__grid #italy2 {
    -ms-grid-row: 3;
    -ms-grid-column: 4;
    grid-area: italy2;
    background-image: url(./flag_images/013-italy.png);
  }
  .flag__container .flag__grid #colombia {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: colombia;
    background-image: url(./flag_images/177-colombia.png);
  }
  .flag__container .flag__grid #colombia2 {
    -ms-grid-row: 4;
    -ms-grid-column: 4;
    grid-area: colombia2;
    background-image: url(./flag_images/013-italy.png);
  }
  .flag__container .flag__grid #netherlands {
    -ms-grid-row: 1;
    -ms-grid-column: 4;
    grid-area: netherlands;
    background-image: url(./flag_images/237-netherlands.png);
  }
  .flag__container .flag__grid #netherlands2 {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: netherlands2;
    background-image: url(./flag_images/237-netherlands.png);
  }
  .flag__container .flag__grid #norway {
    -ms-grid-row: 1;
    -ms-grid-column: 6;
    grid-area: norway;
    background-image: url(./flag_images/143-norway.png);
  }
  .flag__container .flag__grid #norway2 {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
    grid-area: norway2;
    background-image: url(./flag_images/143-norway.png);
  }
  .flag__container .flag__grid #united-kingdom {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
    grid-area: united-kingdom;
    background-image: url(./flag_images/260-united-kingdom.png);
  }
  .flag__container .flag__grid #united-kingdom2 {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
    grid-area: united-kingdom2;
    background-image: url(./flag_images/260-united-kingdom.png);
  }
  .flag__container .flag__grid #croatia {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: croatia;
    background-image: url(./flag_images/164-croatia.png);
  }
  .flag__container .flag__grid #croatia2 {
    -ms-grid-row: 4;
    -ms-grid-column: 5;
    grid-area: croatia2;
    background-image: url(./flag_images/164-croatia.png);
  }
  .flag__container .flag__grid #mexico {
    -ms-grid-row: 4;
    -ms-grid-column: 3;
    grid-area: mexico;
    background-image: url(./flag_images/252-mexico.png);
  }
  .flag__container .flag__grid #mexico2 {
    -ms-grid-row: 4;
    -ms-grid-column: 6;
    grid-area: mexico2;
    background-image: url(./flag_images/252-mexico.png);
  }
  .flag__container .flag__grid #mauritius {
    -ms-grid-row: 2;
    -ms-grid-column: 4;
    grid-area: mauritius;
    background-image: url(./flag_images/001-mauritius.png);
  }
  .flag__container .flag__grid #mauritius2 {
    -ms-grid-row: 3;
    -ms-grid-column: 5;
    grid-area: mauritius2;
    background-image: url(./flag_images/001-mauritius.png);
  }
  .flag__container .flag__grid #puerto-rico {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: puerto-rico;
    background-image: url(./flag_images/028-puerto-rico.png);
  }
  .flag__container .flag__grid #puerto-rico2 {
    -ms-grid-row: 2;
    -ms-grid-column: 5;
    grid-area: puerto-rico2;
    background-image: url(./flag_images/028-puerto-rico.png);
  }
  .flag__container .flag__grid #paraguay {
    -ms-grid-row: 2;
    -ms-grid-column: 6;
    grid-area: paraguay;
    background-image: url(./flag_images/041-paraguay.png);
  }
  .flag__container .flag__grid #paraguay2 {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: paraguay2;
    background-image: url(./flag_images/041-paraguay.png);
  }
  .flag__container .flag__grid #hungary {
    -ms-grid-row: 3;
    -ms-grid-column: 6;
    grid-area: hungary;
    background-image: url(./flag_images/115-hungary.png);
  }
  .flag__container .flag__grid #hungary2 {
    -ms-grid-row: 4;
    -ms-grid-column: 2;
    grid-area: hungary2;
    background-image: url(./flag_images/115-hungary.png);
  }
  .flag__container .gameover__message {
    width: 80%;
    margin: 100px auto;
  }
  .flag__container .gameover__message .gameover__header {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
  }
  .flag__container .gameover__message .gameover__subheader {
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 10px;
  }
  .flag__container .gameover__message .gameover__button {
    font-size: 15px;
    padding: 20px 80px;
    margin: 20px;
    border: solid #ffffff 5px;
    border-radius: 5px;
  }
  .flag__container .match__message .match__country__header {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
  }
  .flag__container .match__message .match__image {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 150px;
    height: 120px;
  }
  .flag__container .match__message .match__header {
    font-size: 20px;
    padding-bottom: 20px;
  }
  .flag__container .match__message .match__subheader {
    font-size: 12px;
    font-weight: bold;
    padding-bottom: 20px;
  }
  .flag__container .match__message .match__fact {
    font-size: 10px;
    padding-bottom: 20px;
  }
  .flag__container .winning__message {
    width: 80%;
    text-align: center;
    margin: 100px auto;
    color: #ffffff;
  }
  .flag__container .winning__message .winning__header {
    padding-top: 100px;
    padding-bottom: 50px;
    font-size: 20px;
  }
  .flag__container .winning__message .winning__subheader {
    font-size: 12px;
    padding-bottom: 50px;
  }
  .flag__container .winning__message .winning__text {
    font-size: 12px;
    padding-bottom: 100px;
  }
  .flag__container .score__container .flag__instructions,
  .flag__container .score__container .flag__flagtotal {
    border: solid #071a52 2px;
    width: 20%;
    padding-bottom: 20px;
    font-size: 8px;
  }
  .flag__container .score__container .flag__instructions__arrow {
    display: none;
  }
  .flag__container .score__container .flag__score,
  .flag__container .score__container .flag__timer,
  .flag__container .score__container .flag__gobutton {
    border: solid 5px #ffffff;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    text-align: center;
    font-size: 25px;
    padding: 5px 5px;
  }
  .flag__container .score__container .flag__gobutton {
    font-size: 10px;
    font-weight: bold;
  }
}

.flag__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-gap: 1vw;
      grid-template-areas: "ireland italy colombia netherlands united-kingdom norway" "croatia puerto-rico ireland2 mauritius puerto-rico2 paraguay" "netherlands2 norway2 united-kingdom2 italy2 mauritius2 hungary" "paraguay2 hungary2 mexico colombia2 croatia2 mexico2";
}

.flag__grid .flag,
.flag__grid .flag__pair {
  height: 150px;
  width: 275px;
  background-size: 100%;
  border-radius: 5px;
  border: solid #071a52 10px;
  cursor: pointer;
}

.flag__grid .flag__image {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}

.flag__grid #ireland {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: ireland;
  background-image: url(./flag_images/179-ireland.png);
}

.flag__grid #ireland2 {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: ireland2;
  background-image: url(./flag_images/179-ireland.png);
}

.flag__grid #italy {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: italy;
  background-image: url(./flag_images/013-italy.png);
}

.flag__grid #italy2 {
  -ms-grid-row: 3;
  -ms-grid-column: 4;
  grid-area: italy2;
  background-image: url(./flag_images/013-italy.png);
}

.flag__grid #colombia {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: colombia;
  background-image: url(./flag_images/177-colombia.png);
}

.flag__grid #colombia2 {
  -ms-grid-row: 4;
  -ms-grid-column: 4;
  grid-area: colombia2;
  background-image: url(./flag_images/013-italy.png);
}

.flag__grid #netherlands {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: netherlands;
  background-image: url(./flag_images/237-netherlands.png);
}

.flag__grid #netherlands2 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: netherlands2;
  background-image: url(./flag_images/237-netherlands.png);
}

.flag__grid #norway {
  -ms-grid-row: 1;
  -ms-grid-column: 6;
  grid-area: norway;
  background-image: url(./flag_images/143-norway.png);
}

.flag__grid #norway2 {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: norway2;
  background-image: url(./flag_images/143-norway.png);
}

.flag__grid #united-kingdom {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  grid-area: united-kingdom;
  background-image: url(./flag_images/260-united-kingdom.png);
}

.flag__grid #united-kingdom2 {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: united-kingdom2;
  background-image: url(./flag_images/260-united-kingdom.png);
}

.flag__grid #croatia {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: croatia;
  background-image: url(./flag_images/164-croatia.png);
}

.flag__grid #croatia2 {
  -ms-grid-row: 4;
  -ms-grid-column: 5;
  grid-area: croatia2;
  background-image: url(./flag_images/164-croatia.png);
}

.flag__grid #mexico {
  -ms-grid-row: 4;
  -ms-grid-column: 3;
  grid-area: mexico;
  background-image: url(./flag_images/252-mexico.png);
}

.flag__grid #mexico2 {
  -ms-grid-row: 4;
  -ms-grid-column: 6;
  grid-area: mexico2;
  background-image: url(./flag_images/252-mexico.png);
}

.flag__grid #mauritius {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
  grid-area: mauritius;
  background-image: url(./flag_images/001-mauritius.png);
}

.flag__grid #mauritius2 {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
  grid-area: mauritius2;
  background-image: url(./flag_images/001-mauritius.png);
}

.flag__grid #puerto-rico {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: puerto-rico;
  background-image: url(./flag_images/028-puerto-rico.png);
}

.flag__grid #puerto-rico2 {
  -ms-grid-row: 2;
  -ms-grid-column: 5;
  grid-area: puerto-rico2;
  background-image: url(./flag_images/028-puerto-rico.png);
}

.flag__grid #paraguay {
  -ms-grid-row: 2;
  -ms-grid-column: 6;
  grid-area: paraguay;
  background-image: url(./flag_images/041-paraguay.png);
}

.flag__grid #paraguay2 {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: paraguay2;
  background-image: url(./flag_images/041-paraguay.png);
}

.flag__grid #hungary {
  -ms-grid-row: 3;
  -ms-grid-column: 6;
  grid-area: hungary;
  background-image: url(./flag_images/115-hungary.png);
}

.flag__grid #hungary2 {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: hungary2;
  background-image: url(./flag_images/115-hungary.png);
}

.match__message {
  opacity: 93%;
  background-color: #20e395;
  position: absolute;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #071a52;
  width: 80%;
  text-align: center;
  margin: auto;
  color: #ffffff;
}

.match__message .match__country__header {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 80px;
  font-weight: bold;
}

.match__message .match__image {
  padding-top: 20px;
  padding-bottom: 20px;
  height: 350px;
  width: 400px;
}

.match__message .match__header {
  text-align: center;
  font-size: 60px;
  font-weight: bold;
  padding-bottom: 20px;
}

.match__message .match__subheader {
  font-size: 35px;
  font-weight: bold;
  padding-bottom: 20px;
}

.match__message .match__fact {
  font-size: 35px;
  padding-bottom: 50px;
  font-style: italic;
  font-weight: bold;
}

.gameover__message {
  opacity: 93%;
  background-color: #20e395;
  position: absolute;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #071a52;
  width: 80%;
  text-align: center;
  margin: 100px auto;
  color: #ffffff;
}

.gameover__message .gameover__header {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 20px;
  font-size: 80px;
  font-weight: bold;
}

.gameover__message .gameover__subheader {
  text-align: center;
  font-size: 60px;
  font-weight: bold;
  padding-bottom: 10px;
}

.gameover__message .gameover__button {
  background-color: #f62a00;
  color: #ffffff;
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  padding: 20px 80px;
  margin: 20px;
  border: solid #ffffff 10px;
  border-radius: 10px;
  cursor: pointer;
}

.winning__message {
  opacity: 93%;
  background-color: #20e395;
  position: absolute;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #071a52;
  width: 80%;
  text-align: center;
  margin: 100px auto;
  color: #ffffff;
}

.winning__message .winning__header {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 50px;
  font-size: 80px;
  font-weight: bold;
}

.winning__message .winning__subheader {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  padding-bottom: 50px;
}

.winning__message .winning__text {
  font-size: 35px;
  padding-bottom: 100px;
}
/*# sourceMappingURL=main.css.map */