@import url("https://fonts.googleapis.com/css2?family=Ruda:wght@600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ruda", sans-serif;
  letter-spacing: 0.75px;
  max-width: 100%;
  max-height: 100%;
}

a:link,
a:visited {
  text-decoration: none;
}

body {
  background: #020024;
}

.intro__container .intro__header {
  color: #ffffff;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
  font-size: 96px;
  font-weight: bold;
}
.intro__container .intro__subheading {
  color: #ffffff;
  font-size: 48px;
  font-weight: bold;
  text-align: center;
}
.intro__container .intro__inputcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #17b978;
  border: solid #ffffff 10px;
  border-radius: 10px;
  padding: 20px 20px;
  width: 30%;
  margin: 100px auto;
}
.intro__container .intro__inputcontainer .intro__nameinput {
  font-size: 40px;
  text-align: center;
  border: solid #ffffff 10px;
  border-radius: 10px;
}
.intro__container .intro__inputcontainer .intro__button {
  background-color: #f62a00;
  text-align: center;
  font-size: 56px;
  font-weight: bold;
  padding: 20px 80px;
  margin: 20px;
  border: solid #ffffff 10px;
  border-radius: 10px;
  cursor: pointer;
}

.instructions__container {
  display: none;
}
.instructions__container .instructions__content {
  color: #ffffff;
  background-color: #17b978;
  border: solid #ffffff 10px;
  border-radius: 10px;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 100px auto;
  cursor: pointer;
}
.instructions__container .instructions__content .instructions__header {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
  font-size: 60px;
  font-weight: bold;
}
.instructions__container .instructions__content .instructions__text {
  text-align: center;
  font-size: 45px;
  font-weight: bold;
  padding: 50px;
}

.flag__container {
  display: none;
  background-color: #17b978;
  border: solid #ffffff 10px;
  width: 90%;
  flex-direction: column;
  justify-content: center;
  margin: 20px auto;
  border-radius: 10px;
}
.flag__container .score__container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 10px 10px;
}
.flag__container .score__container .flag__instructions {
  background-color: #ffffff;
  border: solid #071a52 10px;
  border-radius: 10px;
  width: 25%;
  text-align: center;
  font-size: 25px;
}
.flag__container .score__container .flag__flagtotal {
  background-color: #ffffff;
  border: solid #071a52 10px;
  border-radius: 10px;
  width: 25%;
  text-align: center;
  font-size: 25px;
}
.flag__container .score__container .flag__score {
  background-color: #f62a00;
  color: #ffffff;
  border-radius: 50%;
  font-size: 25px;
}
.flag__container .score__container .flag__timer {
  background-color: #f62a00;
  color: #ffffff;
  border-radius: 50%;
  font-size: 25px;
}
.flag__container .flag__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-gap: 1vw;
  grid-template-areas: "ireland italy colombia netherlands united-kingdom norway" "croatia puerto-rico ireland2 mauritius puerto-rico2 paraguay" "netherlands2 norway2 united-kingdom2 italy2 mauritius2 hungary" "paraguay2 hungary2 mexico colombia2 croatia2 mexico2";
}
.flag__container .flag__grid .flag,
.flag__container .flag__grid .flagPair {
  height: 150px;
  width: 250px;
  background-size: 100%;
  border-radius: 10px;
  border: solid #071a52 10px;
  cursor: pointer;
}
.flag__container .flag__grid #ireland {
  grid-area: ireland;
  background-image: url(./flag_images/179-ireland.png);
}
.flag__container .flag__grid #ireland2 {
  grid-area: ireland2;
  background-image: url(./flag_images/179-ireland.png);
}
.flag__container .flag__grid #italy {
  grid-area: italy;
  background-image: url(./flag_images/013-italy.png);
}
.flag__container .flag__grid #italy2 {
  grid-area: italy2;
  background-image: url(./flag_images/013-italy.png);
}
.flag__container .flag__grid #colombia {
  grid-area: colombia;
  background-image: url(./flag_images/177-colombia.png);
}
.flag__container .flag__grid #colombia2 {
  grid-area: colombia2;
  background-image: url(./flag_images/013-italy.png);
}
.flag__container .flag__grid #netherlands {
  grid-area: netherlands;
  background-image: url(./flag_images/237-netherlands.png);
}
.flag__container .flag__grid #netherlands2 {
  grid-area: netherlands2;
  background-image: url(./flag_images/237-netherlands.png);
}
.flag__container .flag__grid #norway {
  grid-area: norway;
  background-image: url(./flag_images/143-norway.png);
}
.flag__container .flag__grid #norway2 {
  grid-area: norway2;
  background-image: url(./flag_images/143-norway.png);
}
.flag__container .flag__grid #united-kingdom {
  grid-area: united-kingdom;
  background-image: url(./flag_images/260-united-kingdom.png);
}
.flag__container .flag__grid #united-kingdom2 {
  grid-area: united-kingdom2;
  background-image: url(./flag_images/260-united-kingdom.png);
}
.flag__container .flag__grid #croatia {
  grid-area: croatia;
  background-image: url(./flag_images/164-croatia.png);
}
.flag__container .flag__grid #croatia2 {
  grid-area: croatia2;
  background-image: url(./flag_images/164-croatia.png);
}
.flag__container .flag__grid #mexico {
  grid-area: mexico;
  background-image: url(./flag_images/252-mexico.png);
}
.flag__container .flag__grid #mexico2 {
  grid-area: mexico2;
  background-image: url(./flag_images/252-mexico.png);
}
.flag__container .flag__grid #mauritus {
  grid-area: mauritius;
  background-image: url(./flag_images/001-mauritius.png);
}
.flag__container .flag__grid #mauritus2 {
  grid-area: mauritius2;
  background-image: url(./flag_images/001-mauritius.png);
}
.flag__container .flag__grid #puerto-rico {
  grid-area: puerto-rico;
  background-image: url(./flag_images/028-puerto-rico.png);
}
.flag__container .flag__grid #puerto-rico2 {
  grid-area: puerto-rico2;
  background-image: url(./flag_images/028-puerto-rico.png);
}
.flag__container .flag__grid #paraguay {
  grid-area: paraguay;
  background-image: url(./flag_images/041-paraguay.png);
}
.flag__container .flag__grid #paraguay2 {
  grid-area: paraguay2;
  background-image: url(./flag_images/041-paraguay.png);
}
.flag__container .flag__grid #hungary {
  grid-area: hungary;
  background-image: url(./flag_images/115-hungary.png);
}
.flag__container .flag__grid #hungary2 {
  grid-area: hungary2;
  background-image: url(./flag_images/115-hungary.png);
}