.flag__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-gap: 1vw;
  grid-template-areas:
    "ireland italy colombia netherlands united-kingdom norway"
    "croatia puerto-rico ireland2 mauritius puerto-rico2 paraguay"
    "netherlands2 norway2 united-kingdom2 italy2 mauritius2 hungary"
    "paraguay2 hungary2 mexico colombia2 croatia2 mexico2";

  .flag,
  .flag__pair {
    height: 150px;
    width: 275px;
    background-size: 100%;
    border-radius: 5px;
    border: solid $color-base 10px;
    cursor: pointer;
  }

  .flag__image {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }

  #ireland {
    grid-area: ireland;
  }

  #ireland2 {
    grid-area: ireland2;
  }

  #italy {
    grid-area: italy;
  }

  #italy2 {
    grid-area: italy2;
  }

  #colombia {
    grid-area: colombia;
  }

  #colombia2 {
    grid-area: colombia2;
  }

  #netherlands {
    grid-area: netherlands;
  }

  #netherlands2 {
    grid-area: netherlands2;
  }

  #norway {
    grid-area: norway;
  }

  #norway2 {
    grid-area: norway2;
  }

  #united-kingdom {
    grid-area: united-kingdom;
  }

  #united-kingdom2 {
    grid-area: united-kingdom2;
  }

  #croatia {
    grid-area: croatia;
  }

  #croatia2 {
    grid-area: croatia2;
  }

  #mexico {
    grid-area: mexico;
  }

  #mexico2 {
    grid-area: mexico2;
  }

  #mauritius {
    grid-area: mauritius;
  }

  #mauritius2 {
    grid-area: mauritius2;
  }

  #puerto-rico {
    grid-area: puerto-rico;
  }

  #puerto-rico2 {
    grid-area: puerto-rico2;
  }

  #paraguay {
    grid-area: paraguay;
  }

  #paraguay2 {
    grid-area: paraguay2;
  }

  #hungary {
    grid-area: hungary;
  }

  #hungary2 {
    grid-area: hungary2;
  }
}
